I contacted changhyon's wife again
there are some issue to send money Mr.Wang.

Honestly, that money is actually hers

his's CEO asked her "Please Help me" at March.
Maybe his team didn't send plan money, so his's CEO asked her

So she borrowed $3000 ( maybe) to him via her company ...

Thus, that money is hers.

his's CEO don't know about it absolutely..

and she said, she helped his's CEO for only her husband(ChangHyon)

and she don't contact his CEO..

She asked ChangHyon contact that number ( i already sent ) , and ask to send money to 327 ,
then that money will be transfered his wife directly..


She said, his CEO don't know about it ( in detail )
thus he don't know that money is hers..

Please send it to him.

It is really last one...
to be honest, here , very complex to contact there...
very worry... you keep this security ( that contact with me ).
Thanks
i don't need your reply.



